Google Maps Automation.json
{
  "name": "Google Maps Automation",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -208
      ],
      "id": "0a11b26f-813a-4716-bfed-199cb9e07c4b",
      "name": "When chat message received",
      "webhookId": "f7040009-1f6c-4929-80ea-0fd319760ed9"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "\nYou are a research agent that helps find contact information from Google Maps or websites.\nAfter searching, save your results to Google Sheets.\nWhen doing this, you must use this JSON format in a single call:\n[\n{\n\"Name\": \"Company name\",\n\"Address\": \"Company address\",\n\"Number\": \"Company phone number\",\n\"Website\": \"Company website\",\n\"Rating\": \"Company rating\",\n\"Opening Hours\": \"Company opening hours\",\n\"Email\": \"Company email address\"\n},\n...\n]\nWhen sending the number to \"Add to Google Sheets\", remove the + at the beginning of each number.\n\nWhen going through multiple pages, call \"Add to Google Sheets\" after each \"Map Search\" call to save the data directly, without consolidating it.\nIf no email is found, pass it as N/A to \"Add to Google Sheets\".\nKeep searching in Map Search until you find no more pages or results."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -16,
        -208
      ],
      "id": "b34d45a4-549b-4118-90fd-d280adeac7ab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        0
      ],
      "id": "75f880a3-a71e-4749-80c2-86fc03ca9413",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "F0GVqNjGj9fppqFu",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -16,
        16
      ],
      "id": "85f8dbc5-cb4a-4e27-a8b8-ea83e7d81e2a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "toolDescription": "This bot helps you extract all contact information for lead generation from Google Maps. \nInput parameters:\n\"q\" for the search term (e.g., \"Dental Clinic Amsterdam\").\n\"ll\" for geographic coordinates.\n\"page\" for the current search results page.",
        "url": "https://google.serper.dev/maps",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "ll",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "hl",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', ``, 'string') }}"
            },
            {
              "name": "page",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters3_Value', ``, 'string') }}"
            },
            {
              "name": "location",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters4_Value', ``, 'string') }}"
            },
            {
              "name": "gl",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters5_Value', ``, 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        272,
        16
      ],
      "id": "63729824-ed29-4a8e-bf03-204db14f8c82",
      "name": "Map Search Tool"
    },
    {
      "parameters": {
        "description": "This is a tool to analyze the input and store it in Google Sheets columns, including:\n{\n\"Name\": xxx,\n\"Address\": xxx,\n\"Number\": XXX,\n\"Website\": xxx,\n\"Rating\": xxx,\n\"Opening Hours\": xxx,\n\"Email\": xxx\n}",
        "workflowId": {
          "__rl": true,
          "value": "xQ16mUUDN5bPzX0i",
          "mode": "list",
          "cachedResultUrl": "/workflow/xQ16mUUDN5bPzX0i",
          "cachedResultName": "SheetAutomation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        144,
        0
      ],
      "id": "0e224f46-c994-4fd4-b925-be5562ad7d75",
      "name": "Call 'SheetAutomation'"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1bHyJuonHMrauTOZJaxOXFobdoEgeMgcZc_NqZ8cS8Ys",
          "mode": "list",
          "cachedResultName": "Maps",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bHyJuonHMrauTOZJaxOXFobdoEgeMgcZc_NqZ8cS8Ys/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sayfa1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bHyJuonHMrauTOZJaxOXFobdoEgeMgcZc_NqZ8cS8Ys/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        272
      ],
      "id": "1d7e7227-587d-438b-9360-c394a676cb69",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "Q6I8t3mu4qidqHEy",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bb5fae92-f482-489b-b2b2-c08a26002934",
              "leftValue": "={{ $json.name }}",
              "rightValue": "Name",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -128,
        272
      ],
      "id": "a796f922-61e8-45c9-9408-20d620fbce67",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        272
      ],
      "id": "66b120c3-5f3d-47c6-8df2-f780098e4a11",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gemini.google.com/app/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gemini-2.5-flash\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a research assistant. Get data about a company and return it. If a field doesn't exist,      return \\\"N/A\\\" for that field. Return only JSON, without      additional information.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Get the email and background for                  {{$json.Name}} in {{$json.Address}}, reference website:       {{$json.Website}}\"\n    }\n  ],\n  \"response_format\": {\n    \"type\": \"json_schema\",\n    \"json_schema\": {\n      \"schema\": {\n        \"$schema\": \"https://json-schema.org/draft-07/schema#\",\n        \"title\": \"CompanyDetails\",\n        \"type\": \"object\",\n        \"properties\": {\n          \"Email\": {\n            \"type\": \"string\"\n          },\n          \"Background\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\"Email\",\"Background\"]\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        288
      ],
      "id": "4230d103-573c-4ab0-bc98-5bf396d635d9",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zDvX0abNZRORlLT4",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "MMkKTZbwOwmO9obk",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bHyJuonHMrauTOZJaxOXFobdoEgeMgcZc_NqZ8cS8Ys",
          "mode": "list",
          "cachedResultName": "Maps",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bHyJuonHMrauTOZJaxOXFobdoEgeMgcZc_NqZ8cS8Ys/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sayfa1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bHyJuonHMrauTOZJaxOXFobdoEgeMgcZc_NqZ8cS8Ys/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UUID": "={{ $('Google Sheets Trigger').item.json.UUID }}",
            "Email": "={{ $('Google Sheets Trigger').item.json.Email }}"
          },
          "matchingColumns": [
            "UUID"
          ],
          "schema": [
            {
              "id": "UUID",
              "displayName": "UUID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number",
              "displayName": "Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Opening Hours",
              "displayName": "Opening Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        752,
        288
      ],
      "id": "43443e79-4741-4d0b-8818-bbac2a4940bc",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5X3fhM8jvaJACbBq",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Map Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SheetAutomation'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c6c3bd42-a054-4d97-9ca1-a49db5786b1d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5550293fb54b2bd505799e15b302c4c5f7d753811c5a1d31747eacb6a85a6ddb"
  },
  "id": "8toK7iYdjiiKpcd2",
  "tags": []
}